<a href="https://colab.research.google.com/github/Great-Destiny-Possessor/Great-Destiny-Possessor/blob/main/Ayomo_Joshua_Odunayo_Lists_Control_Flow_(ECX).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mounting Drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### **Navigate to ECX folder**

In [3]:
import os
os.chdir('/content/drive/MyDrive/ECX_14_days_of_code')
print(f"Current working directory: {os.getcwd()}")

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/ECX_14_days_of_code'

**Print all files in EXC folder to you saved your last Notebook and you manually moved it there**

In [ ]:
!ls

'Python_Basics_  (ECX).ipynb'

### **Strings**


We discussed strings in the previous notebook, defining a string as a sequence


of characters. Every character in a sequence has its own unique position; that's what 'sequence' implies! In Python, this indexing usually starts from 0.

So, if we have the string "Hello":

This string has five characters:

* "H" is at the 0-th position (index 0)
* "e" is at the 1st position (index 1)
* "l" is at the 2nd position (index 2)
* "l" is at the 3rd position (index 3)
* "o" is at the 4th position (index 4)
Therefore, the string "Hello" has five characters, located at indices from 0 to 4."

We can also choose to count this sequence from behind with the last element at index `-1`

* "H" is at the 0-th position (index -5)
* "e" is at the 1st position (index -4)
* "l" is at the 2nd position (index -3)
* "l" is at the 3rd position (index -2)
* "o" is at the 4th position (index -1)

#### **Declaring a string**

An empty string is a string with no characters.

In [ ]:
# declaring an empty string

some_string = "" # assigned an empty string to a variable I called some_string
print(some_string)

In [ ]:
# Multiple line strings (aka Doc strings)

message = """Hello, Nice to have you here
keep learning"""

print(message)

#### **Indexing a string**
To access individual characters within a string, you use indexing with square brackets [] and the character's position, starting from 0.

Example:

In [ ]:
my_string = "Python"
print("Using positive indexes")
print(my_string[0])  # Output: P
print(my_string[3])  # Output: h

print()

print("Using negative indexes")
print(my_string[-1])  # Output: n
print(my_string[-4])  # Output: t

Using positive indexes
P
h

Using negative indexes
n
t

#### **Slicing a string**

To extract a portion (or "slice") of a string, you use **slicing** with square brackets `[]` and specify a `start` and `end` index (like `[start:end]`), where the character at the `end` index is **excluded**.

**Example:**

In [ ]:
my_string = "Challenge"
print(my_string[2:5])  # Output: `all` (characters at index 2, 3, and 4)

all

In [ ]:
my_string = "Challenge"
print(my_string[-3: -1])  # Output: `all` (characters at index 2, 3, and 4)

ng

Whenever we don't specify the start index when slicing python uses 0 as the start and whenever we don't specify the end index python uses -1 by default

**Example** :

In [ ]:
my_string = "Challenge"
print(my_string[:5])  # Output: the first five characters
print(my_string[2:])  # Output: from index 2 to -1 (remember excluding -1)

Chall
allenge

we can save this slices into new variable to get a new string

In [ ]:
my_string = "Challenge"
var_string = my_string[2:5]
print(var_string)

all

Note: Modifying a slice of a string will not modify the original string

#### **Concatenation and repitition**

In [ ]:
# Concatenation
print("Ab" + "bA")

# Repitiion
print("Hi"*8)

AbbA
HiHiHiHiHiHiHiHi

#### **Getting the length of a string**

To get then the length of a string we use the length function

In [ ]:
var_string = "Python"
print(len(var_string))

6

#### **Bare Slicing**

To create a copy of a string we can slice the entire string this is called `Bare slicing`

In [ ]:
my_string = "Challenge"

my_string_copy = my_string[:]

print(my_string_copy)

Challenge

#### **Formated strings (f-strings)**

Formatted String Literals, commonly called f-strings, provide a concise and readable way to embed Python variables or expressions inside string literals. Introduced in Python 3.6, and they are the most recommended way to format strings.

How to use them:
You create an f-string by prefixing a string literal with the letter f . Inside the string, you can place Python expressions within curly braces {}. These expressions will be evaluated at runtime (meaning as the code run) and their results will be embedded directly into the string.

In [ ]:
name = "Alice"
age = 30
message = f"Hello, my name is {name} and I am {age} years old."
print(message)
# Output: Hello, my name is Alice and I am 30 years old.

Hello, my name is Alice and I am 30 years old.

In [ ]:
num1 = 10
num2 = 5
result = f"The sum of {num1} and {num2} is {num1 + num2}."
print(result)
# Output: The sum of 10 and 5 is 15.

The sum of 10 and 5 is 15.

#### **Strings are immutable**
**Mutable** object are object that can be modified, while immutable objects can not be modified. Strings are immutable and other primitive datatype we discussed like `int`, `float` etc are also immutable. You might think but we can change their types, well yes but changing a variable type doesn't change the `int`, `float` or `string` object. it just assigns the variable to a new object.

we cannot modify any element, part or character of a string since it is immutable.

if we try to mutate a string we would get an error.

**Example:**

In [ ]:
s = "Hello"
s[0] = 's'

TypeError: 'str' object does not support item assignment

#### **Looping over a String (Transversing a String)**

we can use  for loop to transverse string in two ways:


1.   using range

2.   using in-operator

In [ ]:
s = "Helloe"

In [ ]:
# Using range

for i in range(len(s)):
    print(s[i])

H
e
l
l
o
e

To get  a clearer picture of what just happened above, run the below cell to see:

In [ ]:
# using inplcae operator
for i in range(len(s)):
    print(f"Currently at index {i} is {s[i]}")

Currently at index 0 is H
Currently at index 1 is e
Currently at index 2 is l
Currently at index 3 is l
Currently at index 4 is o
Currently at index 5 is e

In [ ]:
# using inplcae operator

for each in s:
    print(each)

H
e
l
l
o
e

#### **Building a string: A trickier example**

we can construct a new string from another string using a for loop just like in teh example bello

In [ ]:
y = "Rhino"
result = ""
for each in y:
  result += each*2

print(result)

RRhhiinnoo

#### **String Methods**

Python strings come with a powerful set of built-in methods (functions) that allow you to perform common operations like changing case, searching for text, splitting parts, or checking content. Remember, since strings are immutable, these methods don't change the original string; they return a new string with the modifications. Let's explore some of the most important ones!




| Method                 | Explanation                                                                                                                                              |
| :--------------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `str.lower()`          | Returns a copy of the string with all cased characters converted to lowercase.                                                                         |
| `str.upper()`          | Returns a copy of the string with all cased characters converted to uppercase.                                                                         |
| `str.capitalize()`     | Returns a copy of the string with its first character capitalized and the rest lowercased.                                                               |
| `str.title()`          | Returns a titlecased version of the string, where the first letter of each word is capitalized.                                                          |
| `str.strip()`          | Returns a copy of the string with leading and trailing whitespace (or specified characters) removed.                                                     |
| `str.lstrip()`         | Returns a copy of the string with leading (left) whitespace (or specified characters) removed.                                                           |
| `str.rstrip()`         | Returns a copy of the string with trailing (right) whitespace (or specified characters) removed.                                                         |
| `str.replace(old, new)`| Returns a copy of the string with all occurrences of `old` substring replaced by `new` substring.                                                        |
| `str.split(sep=None)`  | Splits the string by the specified separator (`sep`) into a list of substrings. If `sep` is None, splits by whitespace.                                |
| `str.join(iterable)`   | Concatenates the elements of an iterable (e.g., list of strings) into a single string, using the string itself as a separator.                           |
| `str.find(sub)`        | Returns the lowest index in the string where substring `sub` is found. Returns `-1` if not found.                                                        |
| `str.count(sub)`       | Returns the number of non-overlapping occurrences of substring `sub` in the string.                                                                    |
| `str.startswith(prefix)`| Returns `True` if the string starts with the specified `prefix`, otherwise `False`.                                                                    |
| `str.endswith(suffix)` | Returns `True` if the string ends with the specified `suffix`, otherwise `False`.                                                                      |
| `str.isalpha()`        | Returns `True` if all characters in the string are alphabetic (letters) and there is at least one character, `False` otherwise.                          |
| `str.isdigit()`        | Returns `True` if all characters in the string are digits (0-9) and there is at least one character, `False` otherwise.                                |
| `str.isnumeric()`      | Returns `True` if all characters in the string are numeric characters (digits, superscripts, vulgar fractions etc.) and there is at least one character, `False` otherwise. (Often broader than `isdigit()`). |
| `str.isalnum()`        | Returns `True` if all characters in the string are alphanumeric (letters or numbers) and there is at least one character, `False` otherwise.             |
| `str.isspace()`        | Returns `True` if all characters in the string are whitespace characters and there is at least one character, `False` otherwise.                         |
| `str.partition(sep)`   | Splits the string at the *first* occurrence of `sep`, returning a 3-tuple: (part before separator, separator, part after separator).                   |

Examples:

In [ ]:
# --- Initial Variable Definitions for Examples ---
text_with_spaces = "   Python Programming   "
sentence = "Python is a great language."
data_line = "apple,banana,orange"
word_list = ["hello", "world", "python"]
sentence_to_search = "Learning Python is fun. Python is versatile."
number_string = "12345"
letter_string = "HelloWorld"
mixed_content = "Python3"

In [ ]:
### str.lower()

print(f"Original: '{text_with_spaces}'")
print(f"Lowercase: '{text_with_spaces.lower()}'\n")

Original: '   Python Programming   '
Lowercase: '   python programming   '

In [ ]:
### str.upper()

print(f"Original: '{sentence}'")
print(f"Uppercase: '{sentence.upper()}'\n")

Original: 'Python is a great language.'
Uppercase: 'PYTHON IS A GREAT LANGUAGE.'

In [ ]:
### str.strip()

print(f"Original: '{text_with_spaces}'")
print(f"Stripped: '{text_with_spaces.strip()}'\n")

Original: '   Python Programming   '
Stripped: 'Python Programming'

In [ ]:
### str.replace(old, new)

print(f"Original: '{sentence}'")
print(f"Replaced 'Python' with 'Java': '{sentence.replace('Python', 'Java')}'")
print(f"Replaced all 'a' with '@': '{'banana'.replace('a', '@')}'\n") # Example with multiple replacements

Original: 'Python is a great language.'
Replaced 'Python' with 'Java': 'Java is a great language.'
Replaced all 'a' with '@': 'b@n@n@'

In [4]:
### str.split(sep=None)

print(f"Original: '{data_line}'")
items = data_line.split(',')
print(f"Split by comma: {items}")
print(f"Original: '{text_with_spaces.strip()}'") # Use stripped version for clean words
words = text_with_spaces.strip().split() # Splits by whitespace by default
print(f"Split by whitespace: {words}\n")

NameError: name 'data_line' is not defined

In [ ]:
### str.join(iterable)

print(f"Original list: {word_list}")
print(f"Joined with space: {' '.join(word_list)}")
print(f"Joined with underscore: {'_'.join(word_list)}\n")

Original list: ['hello', 'world', 'python']
Joined with space: hello world python
Joined with underscore: hello_world_python

In [ ]:
### str.find(sub)

print(f"Original: '{sentence_to_search}'")
print(f"First index of 'Python': {sentence_to_search.find('Python')}")
print(f"First index of 'java' (not found): {sentence_to_search.find('java')}\n")

Original: 'Learning Python is fun. Python is versatile.'
First index of 'Python': 9
First index of 'java' (not found): -1

In [ ]:
### str.startswith(prefix)

print(f"Does '{sentence}' start with 'Python'? {sentence.startswith('Python')}")
print(f"Does '{sentence}' start with 'learning'? {sentence.startswith('learning')}\n")

Does 'Python is a great language.' start with 'Python'? True
Does 'Python is a great language.' start with 'learning'? False

In [ ]:
### str.isalpha()

print(f"'{letter_string}'.isalpha(): {letter_string.isalpha()}")
print(f"'{number_string}'.isalpha(): {number_string.isalpha()}")
print(f"'{mixed_content}'.isalpha(): {mixed_content.isalpha()}\n") # False due to '3'

'HelloWorld'.isalpha(): True
'12345'.isalpha(): False
'Python3'.isalpha(): False

In [ ]:
### str.isdigit()

print(f"'{number_string}'.isdigit(): {number_string.isdigit()}")
print(f"'{letter_string}'.isdigit(): {letter_string.isdigit()}")
print(f"'{mixed_content}'.isdigit(): {mixed_content.isdigit()}\n") # False due to letters

'12345'.isdigit(): True
'HelloWorld'.isdigit(): False
'Python3'.isdigit(): False

That's all for Strings. Strings are very important, as they are how we handle textual data, which is a huge part of almost any program you'll ever write; from user input and messages to web content and file names. Mastering these methods will give you a powerful toolkit for manipulating and processing text effectively!

### **List**

A **list** is an ordered, mutable collection of items. Think of it as a versatile container where you can store many different pieces of data could be numbers, strings, or even other lists all within a single variable. Lists are defined using square brackets [], with items separated by commas. They are incredibly useful for managing collections of related information in your programs.

In [ ]:
# defining a list

my_list = ["Apples", "Bananas", "Chocolates", "Hats"]
print(my_list)

['Apples', 'Bananas', 'Chocolates', 'Hats']

A list can hold different datatypes together

In [ ]:
my_list = ["Apples", 4, 3.14]
print(my_list)

['Apples', 4, 3.14]

#### **Nested Lists**

A list can also hold other lists. Such lists are called nested lists

In [ ]:
my_nested_list = [
    [1, 2, 3],
    ['a', 'b', 'c'],
    [True, False]
]

print(my_nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False]]

#### **Indexing a List**

This is similar to indexing a string

In [ ]:
my_list = ["Apples", 4, 3.14]

print(my_list[0])
print(my_list[-1])

Apples
3.14

#### **Length of a list**

we can also use `len()` to get the length of a list

In [ ]:
my_list = ["Apples", 4, 3.14]
print(len(my_list))

3

#### **in Opertor**

The in operator also works on a list.

In [ ]:
print(3 in [3, 4, 2])

True

#### **Transversing a List**

In [ ]:
# using range

my_list = ["Apples", 4, 3.14]

for i in range(len(my_list)):
  print(my_list[i])

Apples
4
3.14

In [ ]:
# using in operator]

my_list = ["Apples", 4, 3.14]

for each in my_list:
  print(each)

Apples
4
3.14

#### **List Methods**

Just like strings, lists also come with their own set of built-in methods that allow you to easily manipulate their content. These methods are essential for performing common operations like adding new items, removing existing ones, reordering elements, and more. A crucial difference from string methods is that list methods often modify the original list directly (since lists are mutable), rather than returning a new list. Let's look at the most important ones!

## Important List Methods

| Method                  | Explanation                                                                                                                                                             |
| :---------------------- | :---------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `list.append(item)`     | Adds a single `item` to the *end* of the list. Modifies the list in-place.                                                                                             |
| `list.extend(iterable)` | Adds all items from an `iterable` (like another list, tuple, or string) to the *end* of the list. Modifies the list in-place.                                        |
| `list.insert(index, item)`| Inserts an `item` at a specified `index` in the list. Items to the right are shifted. Modifies the list in-place.                                                     |
| `list.remove(value)`    | Removes the *first* occurrence of the specified `value` from the list. Raises `ValueError` if the item is not found. Modifies the list in-place.                       |
| `list.pop(index=-1)`    | Removes and returns the item at the given `index`. If no index is specified, removes and returns the last item. Modifies the list in-place.                             |
| `list.clear()`          | Removes all items from the list, making it empty. Modifies the list in-place.                                                                                           |
| `list.index(value)`     | Returns the index of the *first* occurrence of the specified `value` in the list. Raises `ValueError` if the item is not found.                                        |
| `list.count(value)`     | Returns the number of times a specified `value` appears in the list.                                                                                                    |
| `list.sort(key=None, reverse=False)` | Sorts the items of the list *in-place*. By default, sorts in ascending order. `reverse=True` for descending.                                                      |
| `list.reverse()`        | Reverses the order of items in the list *in-place*.                                                                                                                     |
| `list.copy()`           | Returns a *shallow copy* of the list. Changes to the new copy will not affect the original list (unless they contain mutable objects like nested lists).                 |
| `len(list)` (Function)  | *While not a method*, `len()` is a very common built-in function used with lists to get the number of items in the list.                                              |

**Examples:**

In [ ]:
# --- Initial List Definitions for Examples ---

my_list = [10, 20, 30, 40]
fruits = ["apple", "banana", "cherry"]
numbers = [5, 2, 8, 1, 9]
mixed_data = ["hello", 1, True, "world"]
original_list_for_copy = [1, 2, 3]

In [ ]:
### list.append(item)

print(f"Original list: {my_list}")
my_list.append(50)
print(f"After append(50): {my_list}\n")

# Note: my_list is now [10, 20, 30, 40, 50]

Original list: [10, 20, 30, 40]
After append(50): [10, 20, 30, 40, 50]

In [ ]:
### list.extend(iterable)

my_list = [10, 20, 30] # Reset for clear example
new_items = [40, 50, 60]
print(f"Original list: {my_list}")
print(f"Items to extend: {new_items}")
my_list.extend(new_items)
print(f"After extend({new_items}): {my_list}\n")

# Note: my_list is now [10, 20, 30, 40, 50, 60]

Original list: [10, 20, 30]
Items to extend: [40, 50, 60]
After extend([40, 50, 60]): [10, 20, 30, 40, 50, 60]

In [ ]:
### list.insert(index, item)

fruits = ["apple", "cherry"] # Reset
print(f"Original list: {fruits}")
fruits.insert(1, "banana") # Insert 'banana' at index 1
print(f"After insert(1, 'banana'): {fruits}\n")

# Note: fruits is now ["apple", "banana", "cherry"]

Original list: ['apple', 'cherry']
After insert(1, 'banana'): ['apple', 'banana', 'cherry']

In [ ]:
### list.remove(value)

my_list = [10, 20, 30, 20, 40] # Reset with duplicates
print(f"Original list: {my_list}")
my_list.remove(20) # Removes only the first occurrence
print(f"After remove(20): {my_list}\n")

# Note: my_list is now [10, 30, 20, 40]

Original list: [10, 20, 30, 20, 40]
After remove(20): [10, 30, 20, 40]

In [ ]:
### list.pop(index=-1)

my_list = [10, 20, 30, 40] # Reset
print(f"Original list: {my_list}")
popped_item_last = my_list.pop() # Removes and returns the last item
print(f"Popped item (last): {popped_item_last}")
print(f"List after pop(): {my_list}")
popped_item_index = my_list.pop(1) # Removes and returns item at index 1
print(f"Popped item (index 1): {popped_item_index}")
print(f"List after pop(1): {my_list}\n")

# Note: my_list is now [10, 40]

Original list: [10, 20, 30, 40]
Popped item (last): 40
List after pop(): [10, 20, 30]
Popped item (index 1): 20
List after pop(1): [10, 30]

In [ ]:
### list.clear()

my_list = [1, 2, 3, 4] # Reset
print(f"Original list: {my_list}")
my_list.clear()
print(f"After clear(): {my_list}\n")

# Note: my_list is now []

Original list: [1, 2, 3, 4]
After clear(): []

In [ ]:
### list.index(value)

fruits = ["apple", "banana", "cherry", "banana"] # Reset with duplicates
print(f"List: {fruits}")
index_banana = fruits.index("banana") # Returns first occurrence
print(f"Index of 'banana': {index_banana}")
# print(fruits.index("grape")) # Uncomment to see ValueError if item not found

List: ['apple', 'banana', 'cherry', 'banana']
Index of 'banana': 1

In [ ]:
### list.count(value)

fruits = ["apple", "banana", "cherry", "banana", "apple"] # Reset
print(f"List: {fruits}")
count_apple = fruits.count("apple")
print(f"Count of 'apple': {count_apple}")
count_banana = fruits.count("banana")
print(f"Count of 'banana': {count_banana}")
count_grape = fruits.count("grape")
print(f"Count of 'grape': {count_grape}\n")

List: ['apple', 'banana', 'cherry', 'banana', 'apple']
Count of 'apple': 2
Count of 'banana': 2
Count of 'grape': 0

In [ ]:
### list.sort()

numbers = [5, 2, 8, 1, 9] # Reset
print(f"Original list: {numbers}")
numbers.sort() # Sorts in-place, ascending by default
print(f"After sort() (ascending): {numbers}")
numbers_desc = [5, 2, 8, 1, 9] # Reset for descending
numbers_desc.sort(reverse=True)
print(f"After sort(reverse=True) (descending): {numbers_desc}\n")

# Note: numbers and numbers_desc are modified in-place (meaning no copy of the list was made)

Original list: [5, 2, 8, 1, 9]
After sort() (ascending): [1, 2, 5, 8, 9]
After sort(reverse=True) (descending): [9, 8, 5, 2, 1]

In [ ]:
### list.reverse()

numbers = [1, 2, 3, 4, 5] # Reset
print(f"Original list: {numbers}")
numbers.reverse() # Reverses in-place
print(f"After reverse(): {numbers}\n")

# Note: numbers is now [5, 4, 3, 2, 1]

Original list: [1, 2, 3, 4, 5]
After reverse(): [5, 4, 3, 2, 1]

In [ ]:
### list.copy()

original_list_for_copy = [1, 2, 3] # Reset
copied_list = original_list_for_copy.copy()
print(f"Original list: {original_list_for_copy}")
print(f"Copied list: {copied_list}")

# Modify the copy, original remains unchanged
copied_list.append(4)

print(f"Original list after modifying copy: {original_list_for_copy}")
print(f"Copied list after modifying: {copied_list}\n")

Original list: [1, 2, 3]
Copied list: [1, 2, 3]
Original list after modifying copy: [1, 2, 3]
Copied list after modifying: [1, 2, 3, 4]

# **Tasks**

0. Save a copy of this notebook in drive by clicking `File` in the taskbar above and selecting `Save a copy in Drive`.
You'll be promted to open the notebook in new tab. Open this notebook and click on the previous name(i.e Python_Basics_(ECX).IPYNB) and rename as "[YOUR_NAME]_original_file_name" i.e "Peter_Pan_Python_Basics_(ECX).ipynb"

  In the copy notebook you made for yourself. Navigate to the tasks and write your code solution. Afterwards follow [Submission Guidelines ](https://docs.google.com/document/d/135j-r7NwRbjpIlfy9F_5-pxbYiRsic4qSavpILak5Mk/edit?usp=sharing) to submit.

### **Strings**

1. Write a program that asks the user to enter a string. The program should then print the following:

  (a) The total number of characters in the string

  (b) The string repeated 10 times

  (c) The first character of the string (remember that string indices start at 0)

  (d) The first three characters of the string

  (e) The last three characters of the string

  (f) The string backwards

  (g) The seventh character of the string if the string is long enough and a message otherwise

  (h) The string with its first and last characters removed

  (i) The string in all caps

  (j) The string with every a replaced with an e

In [6]:
word = input("Enter a string: ")
print(len(word))
print(word * 10)
print(word[0])
print(word[0: 3])
print(word[-3:])
print(word[::-1])
if len(word) >= 7:
  print(word[6])
else:
  print("The word is not long enough")
print(word[1:-1])
print(word.upper())
print(word.replace("a", "e"))

Enter a stringjoshuaa
7
joshuaajoshuaajoshuaajoshuaajoshuaajoshuaajoshuaajoshuaajoshuaajoshuaa
j
jos
uaa
aauhsoj
a
oshua
JOSHUAA
joshuee

2. Write a program that asks the user to enter a word and then capitalizes every other letter of that word. So if the user enters `rhinoceros`, the program should print `rHiNoCeRoS`.

In [15]:
word = input("Enter a word: ")
new_word = list(word)
result = []
for index in range(len(new_word)):
  if index % 2 == 0:
    result.append(new_word[index].lower())
  else:
    result.append(new_word[index].upper())
final = "".join(result)
print(final)

Enter a word: joshua
jOsHuA

  3. When I was a kid, we used to play this game called Mad Libs. The way it worked was a friend
  would ask me for some words and then insert those words into a story at specific places
  and read the story. The story would often turn out to be pretty funny with the words I had
  given since I had no idea what the story was about. The words were usually from a specific
  category, like a place, an animal, etc.
  
  For this problem you will write a Mad Libs program. First, you should make up a story and
  leave out some words of the story. Your program should ask the user to enter some words
  and tell them what types of words to enter. Then print the full story along with the inserted
  words. Here is a small example, but you should use your own (longer) example:

    
    Enter a college class: CALCULUS

    Enter an adjective: HAPPY

    Enter an activity: PLAY BASKETBALL

    CALCULUS class was really HAPPY today. We learned how to

    PLAY BASKETBALL today in class. I can't wait for tomorrow's
    class!

In [ ]:
skill = input("Enter a skill: ")
media = input("Enter a Social Media: ")
verb = input("Enter a verb: ")

print(f"I tried to show off my {skill} on {media}, but accidentally started to {verb} instead!")

4. In calculus, the derivative of x 4 is 4x 3 . The derivative of x 5 is 5x 4 . The derivative of x 6 is
6x 5 . This pattern continues. Write a program that asks the user for input like x^3 or x^25
and prints the derivative. For example, if the user enters x^3, the program should print out
3x^2.

5. Write a program that generates the 26-line block of letters partially shown below. Use a loop
containing one or two print statements.
  ```
  abcdefghijklmnopqrstuvwxyz
  bcdefghijklmnopqrstuvwxyza
  cdefghijklmnopqrstuvwxyzab
  ...
  yzabcdefghijklmnopqrstuvwx
  zabcdefghijklmnopqrstuvwxy
  ```

In [ ]:
#... enter your code here

### **Lists**

6. Write a program that asks the user to enter a list of integers. Do the following:
  (a) Print the total number of items in the list.

  (b) Print the last item in the list.

  (c) Print the list in reverse order.

  (d) Print Yes if the list contains a 5 and No otherwise.

  (e) Print the number of fives in the list.





  (f) Remove the first and last items from the list, sort the remaining items, and print the result.

In [ ]:
#... Write code here

7. Using a for loop, create the list below, which consists of ones separated by increasingly many
zeroes. The last two ones in the list should be separated by ten zeroes.
[1,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,....]

In [ ]:
#...Write code here